:root {
  --dark-purple: #16001eff;
  --imperial-red: #e63946;
  --oxford-blue: #0c1b33ff;
  --xiketic: #220c10ff;
  --dark-liver: #474647ff;
  --raisin-black: #2c2c34ff;
  --dark-olive-green: #606c38ff;
  --kombu-green: #283618ff;
  --cornsilk: #fefae0ff;
  --fawn: #dda15eff;
  --liver-dogs: #bc6c25ff;
}

body {
  padding-bottom: 50px;
}

.card a {
  color: var(--raisin-black) !important;
  text-decoration: underline;
}

.card a:hover {
  text-decoration: none;
}

.bg-dark {
  background-color: var(--raisin-black) !important;
}

.btn-dark {
  background-color: var(--raisin-black) !important;
}

.alert-danger {
  background-color: var(--imperial-red);
  color: #fff !important;
}

.alert-info {
  background-color: var(--cornsilk) !important;
  color: var(--raisin-black) !important;
  border: 0px;
}

.footerIcon {
  color: whitesmoke !important;
}

.temperature {
  font-size: 8rem;
  font-weight: bolder !important;
  text-shadow: 1px 1px 3px black;
  text-decoration: none !important;
}

.temperatureSmall {
  font-size: 1.2rem;
  font-weight: bolder !important;
  text-shadow: 0px 0px 1px black;
}

.citytitle {
  font-weight: bolder;
  text-transform: uppercase !important;
}

.minMaxAvgResults {
  text-transform: lowercase;
}

.ammTooltip {
  cursor: help;
}

.iconRow {
  font-size: 2rem;
}

.uiIcon {
  cursor: pointer;
  margin: 10px;
}

.uiIconFavorited {
  color: var(--fawn);
}

.uiIconHouseSelected {
  color: var(--dark-olive-green);
}

.uiIconRefreshing {
  color: var(--liver-dogs);
}

.sortLink {
  cursor: pointer;
}

[contenteditable="true"]:focus {
  outline: none !important;
}

*:focus {
  outline: none !important;
}

@media all and (max-width: 768px) {
  .temperature {
    font-size: 5rem;
  }
}

@media all and (max-width: 335px) {
  .temperature {
    font-size: 4rem;
  }
}
