:root {
  --dark-purple: #16001eff;
  --imperial-red: #e63946;
  --oxford-blue: #0c1b33ff;
  --xiketic: #220c10ff;
  --dark-liver: #474647ff;
  --raisin-black: #2c2c34ff;
  --dark-olive-green: #606c38ff;
  --kombu-green: #283618ff;
  --cornsilk: #fefae0ff;
  --fawn: #dda15eff;
  --liver-dogs: #bc6c25ff;
  /* CSS HSL from Coolors.co */
--celeste: hsla(180, 83%, 79%, 1);
--gold-crayola: hsla(36, 81%, 75%, 1);
--tumbleweed: hsla(21, 53%, 69%, 1);
--copper-red: hsla(9, 46%, 57%, 1);
--bittersweet: hsla(4, 88%, 67%, 1);
}

body {
  padding-bottom: 50px;
}

.card a {
  color: var(--raisin-black) !important;
  text-decoration: underline;
}

.card a:hover {
  text-decoration: none;
}

.bg-dark {
  background-color: var(--raisin-black) !important;
}

.btn-dark {
  background-color: var(--raisin-black) !important;
}

.alert-danger {
  background-color: var(--imperial-red);
  color: #fff !important;
}

.alert-info {
  background-color: var(--cornsilk) !important;
  color: var(--raisin-black) !important;
  border: 0px;
}

.brandIcon {
  width: 1.6rem;
}

.navbarIcon {
  width: 1.2rem;
}

.footerIcon {
  color: whitesmoke !important;
  font-size: 1.2rem;
}

.temperature {
  font-size: 8rem;
  font-weight: bolder !important;
  text-shadow: 1px 1px 3px black;
  text-decoration: none !important;
}

.temperatureSmall {
  font-size: 1.2rem;
  font-weight: bolder !important;
  text-shadow: 0px 0px 1px black;
}

.citytitle {
  font-weight: bolder;
  text-transform: uppercase !important;
}

.minMaxAvgResults {
  text-transform: lowercase;
}

.ammTooltip {
  cursor: help;
}

.iconRow {
  font-size: 2rem;
}

.favlistIcon {
  width: 1.3rem;
  cursor: pointer;
}

.uiIcon {
  cursor: pointer;
  margin: 10px;
  width: 2.5rem;
}

.uiIconFavorited {
  color: var(--gold-crayola);
  fill: var(--gold-crayola);
}

.uiIconHouseSelected {
  color: var(--copper-red);
  fill: var(--copper-red) !important;
}

.uiIconRefreshing {
  color: var(--bittersweet);
  -webkit-animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  -o-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  max-width: 10rem;
}

.sortLink {
  cursor: pointer;
}

[contenteditable="true"]:focus {
  outline: none !important;
}

*:focus {
  outline: none !important;
}

@media all and (max-width: 768px) {
  .temperature {
    font-size: 5rem;
  }
}

@media all and (max-width: 335px) {
  .temperature {
    font-size: 4rem;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(-359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
