.temperature {
  font-size: 6em !important;
  font-weight: bolder !important;
  text-shadow: 1px 1px 3px black;
  text-decoration: none !important;
}

.citytitle {
  font-weight: bolder;
  text-transform: uppercase !important;
}

.minMaxAvgResults {
  text-transform: lowercase;
}